<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>Reffy report</title>
  $if(quotes)$
    <style type="text/css">q { quotes: "ÔÇ£" "ÔÇØ" "ÔÇÿ" "ÔÇÖ"; }</style>
  $endif$
  <link rel="stylesheet" href="https://w3c.github.io/webref/common/font-awesome.css" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://w3c.github.io/webref/common/styles.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css" />
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css" />
  <!--<![endif]-->
  $if(math)$
    $math$
  $endif$
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
  $for(header-includes)$
    $header-includes$
  $endfor$
</head>
<body>
  $for(include-before)$
  $include-before$
  $endfor$

  $if(title)$
    <header>
      <h1>$title$</h1>
      $if(date)$
      <h2 class="date">$date$</h2>
      $endif$
    </header>
  $endif$
  <p><a href="https://github.com/w3c/reffy">Reffy</a> is a <i>spec exploration tool</i>. It crawls a list of specifications to study the WebIDL content, the links that they contain, and the references that these specifications contain.</p>
  <p>
    <label for="filter">View</label>
    <select name="filter" id="filter">
      <option selected="selected" value="all">All</option>
      <option value="ok">Specs without issues</option>
      <option value="error">Specs that could not be rendered</option>
      <option value="noNormativeRefs">Specs without normative references</option>
      <option value="hasInvalidIdl|hasObsoleteIdl">Specs with invalid WebIDL content</option>
      <option value="unknownIdlNames|redefinedIdlNames">Specs with problematic WebIDL terms</option>
      <option value="noRefToWebIDL|missingWebIdlRef|missingLinkRef">Specs with missing references</option>
      <option value="inconsistentRef">Specs with inconsistent references</option>
    </select>
    <input class="submit" id="submit" type="submit" value="Apply" />
  </p>
  <p id="stats"></p>
  $body$
  $for(include-after)$
  $include-after$
  $endfor$
  <div id="summary">
    <div id="barOk" class="backgroundOk"></div><div id="barWarning" class="backgroundWarn"></div><div id="barError" class="backgroundError"></div>
  </div>
  <script type="text/javascript" src="https://w3c.github.io/webref/common/reffy.js"></script>
</body>
</html>
